<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSFileProviderDomainUsageDescription</key>
	<string>Приложение и я слёзно умоляем Вас дать разрешение к файлам.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Приложение и я слёзно умоляем Вас дать разрешение на доступ к галерее.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Приложение и я слёзно умоляем Вас дать разрешение на доступ к микрофону.</string>
	<key>NSContactsUsageDescription</key>
	<string>Приложение и я слёзно умоляем Вас дать разрешение к контактам.</string>
	<key>NSLocationUsageDescription</key>
	<string>Приложение и я слёзно умоляем Вас дать разрешение на доступ к геолокации.</string>
	<key>NSCameraUsageDescription</key>
	<string>Приложение и я слёзно умоляем Вас дать разрешение на камеру.</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
